/* $Id: tugstyle.css,v 1.23 2008/04/06 18:36:40 karl Exp $
   Copyright 2008 TeX Users Group.
   You may freely use, modify and/or distribute this file.  */

BODY {
  margin-top: 8pt;
  margin-left: 8pt;
  color: black; background: white;
  font-family: sans-serif;
}

H1, H2, H3, H4 { color: navy; }

a:link      { color: navy; }
a:visited   { color: green; }
a:active    { color: red; }

.negskippt  { margin-top: -1pt; margin-bottom: -1pt; } /*tug07/register.html*/
.negskip    { margin-top: -.6em; }
.bnegskip   { margin-top: -3%; }
.tinyskip   { margin-top: 2pt; }
.smallskip  { margin-top: 8pt; }
.indent     { text-indent: 2em; }

.hang       { padding-left: 2em; text-indent: -2em; }
.narrow     { margin-left: 5%; margin-right: 10%; }
.center     { text-align: center; }
.navy       { color: navy; }

/* for the home page */
.navbar           { color: navy; background: "E5E5E5"; text-decoration: none}
.navbar a:link    { color: navy; }
.navbar a:visited { color: navy; }
.navbar a:hover   { color: red; }

/* for the tugboat indexes.  http://alistapart.com/articles/taminglists/  */
.tubidxentry { padding-left: 3em; text-indent: -2em;  /* hanging indentation */
               list-style: none;    /* no bullets */
               margin-top: 0px;     /* no space above */
               margin-bottom: 0px;  /* no space above */
              }
.tubidxgroup { margin-top: .5em;      /* space above the group head */
               margin-bottom: .0em; }  /* space between head and entries */

.tubidxTgroup { margin-top: .1em;      /* space above the group head */
               margin-bottom: .1em; }  /* space between head and entries */

.a {
    font-size: 0.85em;
    text-transform: uppercase;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

.e {
    font-size: 1.0em;
    text-transform: uppercase;
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
    line-height: 0;
}
