span.updatedmarker{color:#000;background:#99D642}
/* cache key: moonflar_literateprogramsdb:resourceloader:filter:minify-css:7:a250c1482dfd6f323c5d7b7230b56692 */
/*
     FILE ARCHIVED ON 07:12:02 Sep 05, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:52:12 May 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 50.44 (3)
  esindex: 0.008
  captures_list: 91.192
  CDXLines.iter: 18.161 (3)
  PetaboxLoader3.datanode: 53.992 (4)
  exclusion.robots: 0.189
  exclusion.robots.policy: 0.177
  RedisCDXSource: 1.792
  PetaboxLoader3.resolve: 21.933
  load_resource: 56.009
*/